* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #fafafa;
    margin: 0;
    padding: 30px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;  
  }
  
  /* estilo para el contenedor principal */
  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    gap: 20px; /* Ajusta el espacio entre la imagen y el formulario */
    padding: 0 200px;
  }
  
  /* estilo para el contenedor de la imagen izquierda */
  .image-container {
    flex: 1; /* Ajusta el ancho de la imagen */
    display: flex;
    justify-content: flex-end;
  }
  
  /* estilos para la imagen izquierda */
  .side-image {
    width: 320px;
    height: 500px;
  }
  
  /*  estilo para el contenedor del formulario */
  .form-register {
    flex: 1; /* Esta propiedad se usa en un elemento dentro de un contenedor con display: flex */
    display: grid;
    gap: 2px;
    justify-items: center;
  }
  
/* Estilo para el contenedor del formulario */
  .form-container {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 40px;
    text-align: center;
    width: 300px;
    height: 350px;
  }
  
/* estilo del logo de Instagram */
  .logo {
    margin-bottom: 5px;
    margin-top: 2px;
  }
  
  /* estilo para los input */
  .login-form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #fafafa;
    font-size: 10px;
  }
  
/* boton de ingreso */
  button {
    width: 100%;
    padding: 10px;
    background-color: #0095f6;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
  }
  
  /* estilo para el contenedor de las lineas separadoras */
  .separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  
  /*estilo para las lineas separadoras */
  .separator .line {
    height: 1px;
    width: 50%;
    background-color: #dbdbdb;
  }
  
  /* estilos para espaciado a los lados del "O" */
  .separator p {
    margin: 0 10px;
    color: #8e8e8e;
    font-weight: bold;
  }
  
/* estilo para el contenedor inicio de sesión */
  .social-login {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* estilo para el logo de Faceboock */
  .fb-logo {
    width: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  
  /* estilos para el enlace Iniciar sesión con Faceboock */
  .social-login a {
    color: #385185;
    font-weight: bold;
    font-size: small;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  /* estilo para enlace cambiar contraseña */
  .change-password {
    color: #00376b;
    font-size: 12px;
    text-decoration: none;
  }
  
/* estilo para el contenedor del registro */
  .signup-container {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 20px;
    text-align: center;
    width: 300px;
    font-size: small;
    margin-top: 10px;
  }
  
  /* estilo para el enlace de registro de no tener cuenta */
  .signup-container a {
    color: #0095f6;
    text-decoration: none;
  }
  
  /* contenedor del pie del formulario */
  .footer-content {
    text-align: center;
  }
  
/* texto del footer */
  .footer-text {
     margin-top: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    text-align: center;
  }
  
  /* imagen del footer */
  .footer-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  /* Footer */
.footer-link {
  display: flex;
  justify-content: center; /* Centra los enlaces horizontalmente */
  flex-wrap: wrap;
  width: 100%; 
  margin-top: 20px; 
  padding: 10px 0;
  font-size: 12px;
  color: #8e8e8e;
}

.footer-link a {
  margin: 5px 10px; /* Espacio entre los enlaces */
  text-decoration: none;
  color: #8e8e8e;
}

/* Texto de derechos de autor e idioma */
.footer-copyright {
  text-align: center;
  width: 100%; 
  font-size: 12px;
  color: #8e8e8e;
  margin-top: 10px;
}
