* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eae3e3;
  display: flex;
  height: 100vh;
  justify-content: center;
}

/* Contenedor principal */
.container {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 50% 50%; /* significa que el contenedor tendrá dos columnas. */
  justify-content: center;
  align-items: center; 
}

.cont-images {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  height: 100px;
}

/* Imagen izquierda */
.images-izq {
  width: 250px;
  margin-left: 120px;
}

/* Estilo para el texto debajo del logo */
.cont-images h2 {
  font-size: 24px;
  font-weight: normal;
  color: #1c1e21;
  line-height: 1.4; /* Ajusta la altura de las líneas para mejorar la legibilidad */
}

.text-fac{
  width: 70%;
  margin-left: 120px;
  color: #606770;
}

.form-footer {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* Sección del formulario */
.form-section {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(20, 20, 20, 0.1);
  width: 400px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 14px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
}

/* botón de inicio de sesión (azul) */
.login-btn {
  padding: 14px;
  background-color: #1877f2;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 30px;
  font-weight: bold;
}

.login-btn:hover {
  background-color: #165ec9;
}

/* Estilo del enlace de contraseña */
.login-form a {
  color: #1877f2;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
  text-decoration: none;
}

/* Línea divisora */
.line-divider {
  border-top: 1px solid #ccccd8;
  margin: 20px 0;
}

/* Boton de registro (verde)  */
.register-btn {
  background-color: #42b72a;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 200px;
  align-self: center;
}

.register-btn:hover {
  background-color: #36a420;
}

/* pie de texto */
.create-page-section {
  text-align: center;
  font-size: 14px;
  color: #606770;
  margin-top: 20px;
}

.create-page-section a {
  text-decoration: none;
  color: black;
}
